{% extends "base.html" %}
{% block title %}Skill Hive - Main Page{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 flex space-x-8">

    <!-- News Feed Section -->
    <div class="w-1/2">
        <h2 class="text-2xl font-bold mb-4">News Feed</h2>
        <!-- Static News Feed Items (we'll leave these as is for now) -->
        <div class="bg-white shadow rounded p-4 mb-4">
            <p class="font-bold">
                <a href="#" class="text-blue-500 hover:underline">John Doe</a>
            </p>
            <p>This week has been rough.</p>
            <p class="text-sm text-gray-500">23 mins ago</p>
        </div>
    </div>

    <!-- Courses Section -->

    {% include 'courses/tabs_with_courses.html' %}
</div>
{% endblock %}
