{% extends "base.html" %}
{% block title %}Skill Hive - Main Page{% endblock %}

{% block content %}
    <div class="container mx-auto mt-8 flex space-x-8">

    <!-- News Feed Section -->
        <div class="w-1/2">
            <h2 class="text-2xl font-bold mb-4">News Feed</h2>

        <!-- Status Update Form -->
            {% if user.is_authenticated %}
                <div id="status-update-form" class="mb-4">
                    <form method="post" action="{% url 'main_page' %}" hx-post="{% url 'main_page' %}" hx-target="#news-feed" hx-swap="beforebegin">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-400 transition duration-300">Post</button>
                    </form>
                </div>
            {% endif %}

        <!-- Dynamic News Feed Items with HTMX for Infinite Scrolling -->
        <!-- <div class=" max-h-[calc(100vh-40rem)] overflow-y-auto"> -->
            <div id="news-feed" >
                {% include 'accounts/_status_updates.html' %}
            </div>

            {% include 'courses/_pagination_handler.html' %}
        <!-- </div> -->
        </div>
        <!-- Right Side: Tab Group and Users List -->
        <div class="w-1/2 flex flex-col sticky top-20" style="height: 100vh;">
            <!-- Tab Group -->
            <div class="h-[38vh] bg-white shadow-lg p-4 mb-4 border-b border-gray-300 overflow-y-auto">
                <!-- Courses Section -->
                {% include 'courses/_tabs_with_courses.html' %}
            </div>

            <!-- Users List -->
            <div class="users-list h-[41vh] bg-white shadow-lg p-4 overflow-y-auto">

                {% include 'courses/_user_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}
